.login-field {
    height: 30px;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.header-container {
    background-color: #E3F6CE;
    border-radius: 10px;
}

.offer-container {
    display: flex;
    justify-content: baseline;
}

.offer-box {
    width: max-content;
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.logo {
    width: 75px;
    height: 75px;
    display: inline;
    margin-right: 20px;
    margin-left: 10px;
}