{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static "css/blog.css" %}" rel="stylesheet">
<link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>

<div class="container">

    {% include 'partial/navbar.html' %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</div>
{% comment %}
<div id="sidebar">
<h2>sidebar</h2>

<p>This is my blog.</p>

</div>
{% endcomment %}
</body>
</html>